<div class="row">
	<div class="small-12 columns">

		<h1>{{content.title}}</h1>
		<h2>{{content.subtitle}}</h2>

		<p class="share-buttons">
			<a 
				class="social-link facebook" 
				ng-href="http://www.facebook.com/share.php?u={{content.share}}" 
				id="fb-share" 
				rel="nofollow" 
				target="_blank" 
				title="Share on Facebook">
					<i class="fa fa-facebook"></i><span class="show-for-medium-up"> Share</span>
			</a>
			<a 
				class="social-link twitter" 
				ng-href="http://twitter.com/home?status={{content.title}}%20via%20@TaxFoundation%20{{content.share}}" 
				id="tweet" 
				rel="nofollow" 
				target="_blank" 
				title="Tweet this content">
					<i class="fa fa-twitter"></i><span class="show-for-medium-up"> Tweet</span>
			</a>
			<a 
				class="social-link linkedin" 
				ng-href="http://www.linkedin.com/shareArticle?mini=true&url={{content.share}}" 
				id="linkedin" 
				rel="nofollow" 
				target="_blank" 
				title="Share on LinkedIn">
					<i class="fa fa-linkedin"></i><span class="show-for-medium-up"> LinkedIn</span>
			</a>
			<a 
				class="social-link gplus" 
				ng-href="https://plus.google.com/share?url={{content.share}}" 
				id="gplus-share" 
				title="Plus 1 on Google+">
					<i class="fa fa-google-plus"></i>
			</a>
			<a 
				class="social-link email" 
				ng-href="mailto:?body=Take a look at this chart I found: {{content.title}}. You can read it here: {{content.share}}" 
				id="email-share" 
				title="Email to a Friend">
					<i class="fa fa-envelope"></i>
			</a>
		</p>
	</div>
</div>